<tr>
  <td><a href="{{ .website }}">{{ .name }}</a>
    {{ if not .competitive }} <sup>(n)</sup> {{ end }}
  </td>

  <td>{{ with .tracks.SingleQuery }}X{{ end }}</td>
  <td>{{ with .tracks.Incremental }}X{{ end }}</td>
  <td>{{ with .tracks.UnsatCore }}X{{ end }}</td>
  <td>{{ with .tracks.ModelValidation }}X{{ end }}</td>
  <td>{{ with .tracks.Cloud }}X{{ end }}</td>
  <td>{{ with .tracks.Parallel }}X{{ end }}</td>

  <td class="authors">{{ delimit .authors ",\n" }}</td>
  <td><a href="{{ .archive_url }}">Archive</a></td>
  <td><a href="{{ .system_description }}">System description</a></td>
</tr>
