repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  #  - repo: https://github.com/astral-sh/ruff-pre-commit
  #    # Ruff version.
  #    rev: v0.2.1
  #    hooks:
  #      # Run the linter.
  #      - id: ruff

  - repo: https://github.com/psf/black
    rev: "24.1.1"
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.3"
    hooks:
      - id: prettier
