{%- assign year = '' -%}
{%- assign year = page.url |replace: '/', ' ' |truncatewords: 1 |remove: '...' -%}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% if year == "2012" -%}
    <style> a { color: #D9A360; } </style>
    {% elsif year == "2014" -%}
    <style> a { color: #D86850; } </style>
    {% elsif year == "2015" -%}
    <style> a { color: #6495ED; } </style>
    {% elsif year == "2016" -%}
    <style> a { color: #ff75dd; } </style>
    {% elsif year == "2017" -%}
    <style> a { color: #ff6600; } </style>
    {%- elsif year == "2018" -%}
    <style> a { color: #2a971e; } </style>
    {%- elsif year == "2019" -%}
    <style> a { color: #c30000; } </style>
    {%- elsif year == "2020" -%}
    <style> a { color: #3361FF; } </style>
    {%- else -%}
    <style> a { color: #008050; } </style>
    {%- endif %}
  </head>
  <body>
    <div class="wrapper">
        {% include navigation.html %}
      <section>
