---
layout: default
---
{%- assign tracks = site.data.tracks |where: "year", page.year |first -%}
{%- assign tracks = tracks.tracks -%}

<h2><a href="{{ page.description }}">{{ page.division }}</a></h2>
<h3>Tracks</h3>
<table>
<tr>
<th>Track</th>
<th>Number of Benchmarks</th>
<th>Status</th>
{%- if page.year >= 2021 -%}
  <th>Logics</th>
  <th>Benchmarks</th>
{%- endif -%}
</tr>
{%- for track in tracks -%}
  <tr>
      {%- for div_track in page.tracks -%}
        {%- if div_track.name == track.raw_name -%}
          <td>{{ track.pretty_name }}</td>
          <td>{{ div_track.n_insts }}</td>
          <td>{{ div_track.status }}</td>
          {%- if page.year >= 2021 -%}
            <td>
              {%- assign processed = 0 -%}
              {%- for logics in div_track.logic_insts -%}
                {%- for logic in logics -%}
                  {%- if logic[1] == 0 -%}
                   {%- continue -%}
                  {%- endif -%}
                  {{ logic[0] }}
                  {%- if processed < logics.size -%}
                    <br>
                  {%- endif -%}
                  {%- assign processed = processed | plus:1 -%}
                {%- endfor -%}
              {%- endfor -%}
            </td>
            <td>
                {%- assign processed = 0 -%}
                {%- for logics in div_track.logic_insts -%}
                  {%- for logic in logics -%}
                    {%- if logic[1] == 0 -%}
                      {%- continue -%}
                    {%- endif -%}
                    {{ logic[1] }}
                    {%- if processed < logics.size -%}
                      <br>
                    {%- endif -%}
                    {%- assign processed = processed | plus:1 -%}
                  {%- endfor -%}
                {%- endfor -%}
            </td>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
  </tr>
{%- endfor -%}
</table>

{% assign content_test = content | strip %}
{% if content_test != empty %}
<h3>Notes</h3>
{{ content }}
{% endif %}
