---
layout: default
---
{%- assign tracks = site.data.tracks |where: "year", page.year |first -%}
{%- assign tracks = tracks.tracks -%}

<h2><a href="{{ page.description }}">{{ page.pretty_name }}</a></h2>
<h3>Tracks</h3>
<table>
<tr>
<th>Track</th>
<th>Number of Benchmarks</th>
<th>Status</th>
</tr>
{%- for track in tracks -%}
<tr>
<td>{{ track.pretty_name }}</td>
    {%- for div_track in page.tracks -%}
        {%- if div_track.name == track.raw_name -%}
<td>{{ div_track.n_insts }}</td>
<td>{{ div_track.status }}</td>
        {%- endif -%}
    {%- endfor -%}
</tr>
{% endfor %}
</table>

{% assign content_test = content | strip %}
{% if content_test != empty %}
<h3>Notes</h3>
{{ content }}
{% endif %}
