---
layout: default
---
<h2><a href="{{ page.description }}">{{ page.division }}</a></h2>
<h3>Tracks</h3>
<table>
<tr>
<th>
Track name
</th>
<th>
Number of benchmarks
</th>
<th>
Status
</th>
</tr>
{% for track_descr in site.data.tracks %}
<tr>
<td>
{{ track_descr.pretty_name }}
</td>
    {%- for ltrack in page.tracks -%}
        {%- if ltrack.name == track_descr.raw_name -%}
<td>
{{ ltrack.n_insts }}
</td>
<td>
{{ ltrack.status }}
</td>
        {%- endif -%}
    {%- endfor -%}
</tr>
{% endfor %}
</table>

{% assign content_test = content | strip %}
{% if content_test != empty %}
<h3>Notes</h3>
{{ content }}
{% endif %}

