{% include head.html %}

<h2>{{ page.name }} </h2>
<table>
    <tr>
      <td><b>Competing</b></td>
      <td>{{ page.competing }}</td>
{%- for track_descr in site.data.tracks -%}
<tr>
<td><b>{{ track_descr.pretty_name }}</b></td>
<td>
    {%- assign logic_str = "" -%}
    {%- for slogic in page.logics -%}
        {%- for strack in slogic.tracks -%}
            {%- if strack == track_descr.raw_name -%}
                {%- assign logic_str = logic_str |append: slogic.name |append: ":" -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- assign logic_str = logic_str | split: ":" -%}
{{ logic_str |join: ", " }}
</td>
</tr>
{%- endfor -%}
  <tr>
      <td><b>Preliminary ID</b></td>
      <td>{{ page.preliminaryID }}</td>
  </tr>
  <tr>
      <td><b>Final ID</b></td>
      <td>{{ page.finalID }}</td>
  </tr>
  <tr>
      <td><b>Seed</b></td>
      <td>{{ page.seed }}</td>
  </tr>
  <tr>
      <td><b>System Description</b></td>
      <td><a href="/2019/system-descriptions/{{ page.sysDescrUrl }}">{{
              page.sysDescrName }}</a></td>
  </tr>
  <tr>
      <td><b>Variant of Submission ID</b></td>
      <td>{{ page.variantOf }}</td>
  </tr>
  <tr>
      <td><b>Derived from Solver</b></td>
      <td>{{ page.derivedTool }}</td>
  </tr>
  <tr>
      <td><b>Wrapped Solvers</b></td>
      <td>{{ page.wrapperTool }}</td>
  </tr>
  <tr>
      <td><b>Website</b></td>
      <td><a href="{{ page.solverHomePage }}">{{
              page.solverHomePage }}</a></td>
  </tr>
  <tr>
      <td><b>Team Members</b></td>
      <td>{{ page.team}}</td>
  <tr>
      <td><b>Contact</b></td>
      <td><a href="mailto:{{ page.contact }}">{{ page.contact }}</a></td>
  </tr>
</table>

{% assign content_test = content | strip %}
{% if content_test != empty %}
<h2>Notes</h2>
{{ content }}
{% endif %}

{% include tail.html %}

