---
layout: default
---

{%- assign participants = site[page.participants] -%}

{%- assign sum_of_seeds = 0 -%}
{%- for solver in participants -%}
    {%- assign sum_of_seeds = sum_of_seeds | plus: solver.seed -%}
{%- endfor -%}
{%- assign sum_of_seeds = sum_of_seeds | modulo: 1073741824 -%}

{%- assign nyse_info = page.nyse -%}
{%- assign nyse_date = nyse_info.date -%}
{%- assign nyse_value = nyse_info.value -%}
{%- assign nyse_round = nyse_value | round -%}
{%- assign comp_seed = sum_of_seeds | plus: nyse_round %}

{%- assign nsolvers_track_list = "" -%}
{%- assign nsolvers_track_comp_list = "" -%}
{%- assign nsolvers_track_non_comp_list = "" -%}
{%- for track in site.data.tracks -%}
    {%- assign nsolvers_track = 0 -%}
    {%- assign nsolvers_track_comp = 0 -%}
    {%- assign nsolvers_track_non_comp = 0 -%}
    {%- for solver in participants -%}
        {%- assign in_track = solver.divisions |where: "tracks", track.raw_name |first -%}
        {% if in_track %}
          {%- assign nsolvers_track = nsolvers_track |plus: 1 -%}
          {% if solver.competing == "yes" %}
            {% assign nsolvers_track_comp = nsolvers_track_comp |plus: 1 -%}
          {% else %}
            {% assign nsolvers_track_non_comp = nsolvers_track_non_comp |plus: 1 -%}
          {% endif %}
        {%- endif -%}
    {%- endfor -%}
    {%- assign nsolvers_track_list = nsolvers_track_list
                                  |append: nsolvers_track
                                  |append: ":" -%}
    {%- assign nsolvers_track_comp_list = nsolvers_track_comp_list
                                      |append: nsolvers_track_comp
                                      |append: ":" -%}
    {%- assign nsolvers_track_non_comp_list = nsolvers_track_non_comp_list
                                      |append: nsolvers_track_non_comp
                                      |append: ":" -%}
{%- endfor -%}
{%- assign nsolvers_track_list = nsolvers_track_list |split: ":" -%}
{%- assign nsolvers_track_comp_list = nsolvers_track_comp_list |split: ":" -%}
{%- assign nsolvers_track_non_comp_list = nsolvers_track_non_comp_list |split: ":" -%}

<h2>Participants</h2>

The following solvers have been submitted to SMT-COMP {{ page.year }} or were
entered as non-competing solvers by the organizers for comparison.
<br/><br/>

<table>
<tr>
<th>Solver</th>
{% for track in site.data.tracks %}
<th>{{ track.pretty_name }}</th>
{% endfor %}
<th>Preliminary Solver ID</th>
<th>Final Solver ID</th>
<th>Seed</th>
<th>System Description</th>
</tr>
{%- for solver in participants -%}
<tr {% if solver.competing == "no" %}class = "noncompeting" {% endif %}>
<td>
<a href="{{ solver.url }}">{{ solver.name }}</a>{%- if solver.competing == "no" -%}<sup><a href="#nc">n</a></sup>{%- endif -%}
</td>
{%- for track in site.data.tracks -%}
<td class="center">
  {%- assign in_track = solver.divisions |where: "tracks", track.raw_name |first -%}
  {% if in_track %}
  X
  {% endif %}
</td>
{%- endfor -%}
<td class="right">{{- solver.preliminaryID -}}</td>
<td class="right">{{- solver.finalID -}}</td>
<td class="right">{{- solver.seed -}}</td>
<td class="right"><a href="/{{ page.year }}/system-descriptions/{{ solver.sysDescrUrl }}">{{ solver.sysDescrName }}</a></td>
</tr>
{% endfor %}

<tr class="total">
<td>Total - competing</td>
{% for num in nsolvers_track_comp_list %}
<td class="center">{{ num }}</td>
{% endfor %}
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Total - non-competing</td>
{% for num in nsolvers_track_non_comp_list %}
<td class="center">{{ num }}</td>
{% endfor %}
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td><b>Total</b></td>
{% for num in nsolvers_track_list %}
<td class="center"><b>{{ num }}</b></td>
{% endfor %}
<td></td>
<td></td>
<td><b>{{ sum_of_seeds }} </b> (mod 2<sup>30</sup>)</td>
<td></td>
</tr>
</table>
<p>
  <span id="nc">
    n Non-competing.
  </span><br/>
</p>

The opening value of the NYSE Composite Index on {{ nyse_date }} was
{{ nyse_value }}, resulting in a competition seed of {{ sum_of_seeds }} + {{
nyse_round }} = <b>{{ comp_seed }}</b>.

<h2>Divisions</h2>

These are the logic divisions in which each solver is participating.

{% for division in page.divisions %}

  {%- assign nsolvers_logic_list = "" -%}
  {%- assign nsolvers_logic_comp_list = "" -%}
  {%- assign nsolvers_logic_non_comp_list = "" -%}
  {%- for track in site.data.tracks -%}
      {%- assign nsolvers_logic = 0 -%}
      {%- assign nsolvers_logic_comp = 0 -%}
      {%- assign nsolvers_logic_non_comp = 0 -%}
      {%- for solver in participants -%}
          {%- assign in_logic = solver.divisions |where: "name", division.name |where: "tracks", track.raw_name |first -%}
          {% if in_logic %}
            {%- assign nsolvers_logic = nsolvers_logic |plus: 1 -%}
            {% if solver.competing == "yes" %}
              {% assign nsolvers_logic_comp = nsolvers_logic_comp |plus: 1 -%}
            {% else %}
              {% assign nsolvers_logic_non_comp = nsolvers_logic_non_comp |plus: 1 -%}
            {% endif %}
          {%- endif -%}
      {%- endfor -%}
      {%- if nsolvers_logic > 0 -%}
        {%- assign nsolvers_logic_list = nsolvers_logic_list
                                      |append: nsolvers_logic
                                      |append: ":" -%}
        {%- assign nsolvers_logic_comp_list = nsolvers_logic_comp_list
                                          |append: nsolvers_logic_comp
                                          |append: ":" -%}
        {%- assign nsolvers_logic_non_comp_list = nsolvers_logic_non_comp_list
                                          |append: nsolvers_logic_non_comp
                                          |append: ":" -%}
      {%- endif -%}
  {%- endfor -%}
  {%- assign nsolvers_logic_list = nsolvers_logic_list |split: ":" -%}
  {%- assign nsolvers_logic_comp_list = nsolvers_logic_comp_list |split: ":" -%}
  {%- assign nsolvers_logic_non_comp_list = nsolvers_logic_non_comp_list |split: ":" -%}

<h3>{{ division.name }}</h3>
<table>
<tr>
<th>Solver</th>
  {%- for track in division.tracks -%}
<th class="center">
    {% assign tt = site.data.tracks |where: "raw_name", track  |first %}
    {{ tt.pretty_name }}
</th>
  {%- endfor -%}
</tr>
  {%- for solver in participants -%}
    {%- assign in_logic = solver.divisions |where: "name", division.name |first -%}
    {% unless in_logic %}{% continue %}{% endunless %}
<tr {% if solver.competing == "no" %} class = "noncompeting" {%- endif -%}>
<td>
<a href="{{ solver.url }}">{{ solver.name }}</a>
    {%- if solver.competing == "no" -%}
<sup><a href="#nc">n</a></sup>
    {%- endif -%}
</td>
    {%- for track in division.tracks -%}
<td class="center">
      {%- assign in_logic = solver.divisions |where: "name", division.name |where: "tracks", track |first -%}
        {% if in_logic %}
X
        {%- endif -%}
</td>
    {%- endfor -%}
</tr>
  {%- endfor -%}
<tr class="total">
<td>Total - competing</td>
  {% for num in nsolvers_logic_comp_list %}
<td class="center">{{ num }}</td>
  {% endfor %}
</tr>
<tr>
<td>Total - non-competing</td>
  {% for num in nsolvers_logic_non_comp_list %}
<td class="center">{{ num }}</td>
  {% endfor %}
</tr>
<tr>
<td><b>Total</b></td>
  {% for num in nsolvers_logic_list %}
<td class="center"><b>{{ num }}</b></td>
  {% endfor %}
</tr>
</table>
{% endfor %}
