---
layout: default
---

{%- assign tracks = site.data.tracks |where: "year", page.year |first -%}
{%- assign tracks = tracks.tracks -%}

{%- assign participants = site[page.participants] -%}

{%- assign sum_of_seeds = 0 -%}
{%- for solver in participants -%}
    {%- assign sum_of_seeds = sum_of_seeds | plus: solver.seed -%}
{%- endfor -%}
{%- assign sum_of_seeds = sum_of_seeds | modulo: 1073741824 -%}

{%- assign nyse_info = page.nyse -%}
{%- assign nyse_date = nyse_info.date -%}
{%- assign nyse_value = nyse_info.value -%}
{%- if page.year >= 2020 -%}
  {%- assign nyse_round = nyse_value | times:100 | floor -%}
{%- else -%}
  {%- assign nyse_round = nyse_value | round -%}
{%- endif -%}
{%- assign comp_seed = sum_of_seeds | plus: nyse_round %}

{%- assign nsolvers_track_list = "" -%}
{%- assign nsolvers_track_comp_list = "" -%}
{%- assign nsolvers_track_non_comp_list = "" -%}
{%- for track in tracks -%}
    {%- assign nsolvers_track = 0 -%}
    {%- assign nsolvers_track_comp = 0 -%}
    {%- assign nsolvers_track_non_comp = 0 -%}
    {%- for solver in participants -%}
        {%- assign in_track = solver.divisions |where: "tracks", track.raw_name |first -%}
        {% if in_track %}
          {%- assign nsolvers_track = nsolvers_track |plus: 1 -%}
          {% if solver.competing == "yes" %}
            {% assign nsolvers_track_comp = nsolvers_track_comp |plus: 1 -%}
          {% else %}
            {% assign nsolvers_track_non_comp = nsolvers_track_non_comp |plus: 1 -%}
          {% endif %}
        {%- endif -%}
    {%- endfor -%}
    {%- assign nsolvers_track_list = nsolvers_track_list
                                  |append: nsolvers_track
                                  |append: ":" -%}
    {%- assign nsolvers_track_comp_list = nsolvers_track_comp_list
                                      |append: nsolvers_track_comp
                                      |append: ":" -%}
    {%- assign nsolvers_track_non_comp_list = nsolvers_track_non_comp_list
                                      |append: nsolvers_track_non_comp
                                      |append: ":" -%}
{%- endfor -%}
{%- assign nsolvers_track_list = nsolvers_track_list |split: ":" -%}
{%- assign nsolvers_track_comp_list = nsolvers_track_comp_list |split: ":" -%}
{%- assign nsolvers_track_non_comp_list = nsolvers_track_non_comp_list |split: ":" -%}

<h2>Participants</h2>

The following solvers have been submitted to SMT-COMP {{ page.year }} or were
entered as non-competing solvers by the organizers for comparison.
<br/><br/>

{%- assign competing_solvers = participants |where: "competing", "yes" -%}
{%- assign non_competing_solvers = participants |where: "competing", "no" -%}
{%- assign all_solvers = competing_solvers |concat: non_competing_solvers -%}
<table>
<tr>
<th>Solver</th>
{% for track in tracks %}
<th>{{ track.pretty_name }}</th>
{% endfor %}
<th>Preliminary Solver ID</th>
<th>Final Solver ID</th>
<th>Seed</th>
<th>System Description</th>
</tr>
{%- for solver in all_solvers -%}
<tr{% if solver.competing == "no" %} class="non-competing"{% endif %}>
<td><a href="{{ solver.url }}">{{ solver.name }}</a>{%- if solver.competing == "no" -%}<sup><a href="#nc">n</a></sup>{%- endif -%}
</td>
{% for track in tracks -%}
<td class="center">
  {%- assign in_track = solver.divisions |where: "tracks", track.raw_name |first -%}
  {%- if in_track -%}
  X
  {%- endif -%}
</td>
{% endfor -%}
<td class="right">
  {%- assign prelimids = solver.preliminaryID | split: ";" -%}
  {%- for id in prelimids %}
    {%- assign numids = id | split: "(" %}
    {%- assign numid = numids[0] | floor %}
    {%- if numid > 0 -%}
      <a href="https://www.starexec.org/starexec/secure/details/solver.jsp?id={{ numid }}">{{ id }}</a><br/>
    {%- else -%}
      -
    {%- endif -%}
  {%- endfor -%}</td>
<td class="right">
  {%- assign prelimids = solver.finalID | split: ";" -%}
  {%- for id in prelimids %}
    {%- assign numids = id | split: "(" %}
    {%- assign numid = numids[0] | floor %}
    {%- if numid > 0 -%}
      <a href="https://www.starexec.org/starexec/secure/details/solver.jsp?id={{ numid }}">{{ id }}</a><br/>
    {%- else -%}
      -
    {%- endif -%}
  {%- endfor -%}</td>
<td class="right">{{- solver.seed -}}</td>
<td class="right">
{%- if solver.sysDescrUrl != "" -%}
{%- comment %} Generate URL for system description.
If page.sysDescrUrl looks like an URL, i.e., it contains "://",
it is used unchanged. Otherwise, it is assumed to be a file name
located in year/system-description/.
{% endcomment -%}
{%- if solver.sysDescrUrl contains "://" -%}
    {%- assign sysDescrUrl = solver.sysDescrUrl -%}
{%- else -%}
    {%- comment -%}
    This is a trick from
    https://maedi.com/code/jekyll-check-if-string-number/ to figure out
    if string represents a number.
    {%- endcomment -%}

    {%- assign toolYear = solver.name | slice: 0, 4 -%}
    {%- assign addition = toolYear | plus: 0 %}
    {% capture addition %}{{addition}}{% endcapture %}
    {% if toolYear != addition %}
        {% assign toolYear = page.year %}
    {%- endif -%}
    {%- assign sysDescrUrl = "../../"
        |append: toolYear
        |append: "/system-descriptions/"
        |append: solver.sysDescrUrl -%}
{%- endif -%}
<a href="{{ sysDescrUrl }}">{{ solver.sysDescrName }}</a></td>
{%- endif -%}
</tr>
{% endfor %}

<tr class="total">
<td>Total - competing</td>
{% for num in nsolvers_track_comp_list -%}
<td class="center">{{ num }}</td>
{% endfor -%}
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Total - non-competing</td>
{% for num in nsolvers_track_non_comp_list -%}
<td class="center">{{ num }}</td>
{% endfor -%}
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td><b>Total</b></td>
{% for num in nsolvers_track_list -%}
<td class="center"><b>{{ num }}</b></td>
{% endfor -%}
<td></td>
<td></td>
<td><b>{{ sum_of_seeds }} </b> (mod 2<sup>30</sup>)</td>
<td></td>
</tr>
</table>
<p>
  <span id="nc">
    n Non-competing.
  </span><br/>
</p>

{% if nyse_value > 0 -%}
The opening value of the NYSE Composite Index on {{ nyse_date }} was
{{ nyse_value }}, resulting in a competition seed of {{ sum_of_seeds }} + {{
nyse_round }} = <b>{{ comp_seed }}</b>.
{%- endif %}

<h2>Divisions</h2>

These are the logic divisions in which each solver is participating.

{% for division in page.divisions %}

  {%- assign nsolvers_logic_list = "" -%}
  {%- assign nsolvers_logic_comp_list = "" -%}
  {%- assign nsolvers_logic_non_comp_list = "" -%}
  {%- for track in division.tracks -%}
      {%- assign nsolvers_logic = 0 -%}
      {%- assign nsolvers_logic_comp = 0 -%}
      {%- assign nsolvers_logic_non_comp = 0 -%}
      {%- for solver in participants -%}
        {%- assign in_division = nil -%}
        {%- if page.year >= 2021 -%}
          {%- for logic in division.logics -%}
            {%- assign in_logic = solver.divisions |where: "name", logic |where: "tracks", track |first -%}
            {%- if in_logic -%}
	      {%- assign in_division = logic -%}
	    {%- endif -%}
	  {%- endfor -%}
	{%- else -%}
          {%- assign in_division = solver.divisions |where: "name", division.name |where: "tracks", track |first -%}
	{%- endif -%}
        {%- if in_division -%}
            {%- assign nsolvers_logic = nsolvers_logic |plus: 1 -%}
            {% if solver.competing == "yes" %}
              {% assign nsolvers_logic_comp = nsolvers_logic_comp |plus: 1 -%}
            {% else %}
              {% assign nsolvers_logic_non_comp = nsolvers_logic_non_comp |plus: 1 -%}
            {% endif %}
        {%- endif -%}
      {%- endfor -%}
      {%- assign nsolvers_logic_list = nsolvers_logic_list
                                    |append: nsolvers_logic
                                    |append: ":" -%}
      {%- assign nsolvers_logic_comp_list = nsolvers_logic_comp_list
                                        |append: nsolvers_logic_comp
                                        |append: ":" -%}
      {%- assign nsolvers_logic_non_comp_list = nsolvers_logic_non_comp_list
                                        |append: nsolvers_logic_non_comp
                                        |append: ":" -%}
  {%- endfor -%}
  {%- assign nsolvers_logic_list = nsolvers_logic_list |split: ":" -%}
  {%- assign nsolvers_logic_comp_list = nsolvers_logic_comp_list |split: ":" -%}
  {%- assign nsolvers_logic_non_comp_list = nsolvers_logic_non_comp_list |split: ":" -%}

<h3>{{ division.name }}</h3>
<table>
<tr>
<th>Solver</th>
  {%- for track in division.tracks %}
<th class="center">
    {%- assign tt = tracks |where: "raw_name", track  |first %}
    {{ tt.pretty_name }}
</th>
  {%- endfor -%}
</tr>
  {%- for solver in all_solvers -%}
    {%- if page.year >= 2021 -%}
      {%- assign in_division = nil -%}
      {%- for logic in division.logics -%}
        {%- assign in_logic = solver.divisions |where: "name", logic |first -%}
        {%- if in_logic -%}
          {%- assign in_division = logic -%}
	{%- endif -%}
      {%- endfor -%}
      {%- if in_division -%}
<tr{% if solver.competing == "no" %} class="non-competing"{% endif %}>
<td><a href="{{ solver.url }}">{{ solver.name }}</a>
        {%- if solver.competing == "no" -%}
  <sup><a href="#nc">n</a></sup>
        {%- endif -%}
</td>
        {%- for track in division.tracks %}
<td class="center">
          {%- for logic in division.logics -%}
            {%- assign in_logic = solver.divisions |where: "name", logic |where: "tracks", track |first -%}
            {%- if in_logic -%}
              {{logic}}<br/>
	    {%- endif -%}
          {%- endfor -%}
</td>
        {%- endfor %}
</tr>
      {%- endif -%}
    {%- else -%}
      {%- assign in_logic = solver.divisions |where: "name", division.name |first -%}
      {%- if in_logic -%}
<tr{% if solver.competing == "no" %} class="non-competing"{% endif %}>
<td><a href="{{ solver.url }}">{{ solver.name }}</a>
    {%- if solver.competing == "no" -%}
<sup><a href="#nc">n</a></sup>
    {%- endif -%}
</td>
    {%- for track in division.tracks %}
<td class="center">
        {%- assign in_logic = solver.divisions |where: "name", division.name |where: "tracks", track |first -%}
          {%- if in_logic -%}
            X
          {%- endif -%}
</td>
        {%- endfor %}
</tr>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
<tr class="total">
<td>Total - competing</td>
{% for num in nsolvers_logic_comp_list -%}
<td class="center">{{ num }}</td>
{% endfor -%}
</tr>
<tr>
<td>Total - non-competing</td>
{% for num in nsolvers_logic_non_comp_list -%}
<td class="center">{{ num }}</td>
{% endfor -%}
</tr>
<tr>
<td><b>Total</b></td>
{% for num in nsolvers_logic_list -%}
<td class="center"><b>{{ num }}</b></td>
{% endfor -%}
</tr>
</table>
{% endfor %}
