{% include head.html %}

{% assign sqt = "" %}
{% assign it = "" %}
{% assign uct = "" %}
{% assign cti = "" %}
{% assign ctsq = "" %}
{% assign mvt = "" %}

{% for logic in page.logics %}
    {% for track in logic.tracks %}
        {% if track == "track_single_query" %} {% assign sqt = sqt |append: logic.name  |append: ":"%} {% endif %}
        {% if track == "track_incremental" %} {% assign it = it |append: logic.name |append: ":" %} {% endif %}
        {% if track == "track_unsat_core" %} {% assign uct = uct |append: logic.name |append: ":" %} {% endif %}
        {% if track == "track_single_query_challenge" %} {% assign ctsq = ctsq |append: logic.name |append: ":" %} {% endif %}
        {% if track == "track_incremental_challenge" %} {% assign cti = cti |append: logic.name |append: ":" %} {% endif %}
        {% if track == "track_model_validation" %} {% assign mvt = mvt |append: logic.name |append: ":" %} {% endif %}
    {% endfor %}
{% endfor %}
{% assign sqt = sqt | split: ":" %}
{% assign it = it | split: ":" %}
{% assign uct = uct | split: ":" %}
{% assign ctsq = ctsq | split: ":" %}
{% assign cti = cti | split: ":" %}
{% assign mvt = mvt | split: ":" %}

<h2>{{ page.name }} </h2>
<table>
    <tr>
      <td><b>Competing</b></td>
      <td>{{ page.competing }}</td>
  <tr>
      <td><b>Single Query Track</b></td>
      <td>{{ sqt |join: ", "}}</td>
  </tr>
  <tr>
      <td><b>Incremental Track</b></td>
      <td>{{ it |join: ", " }}</td>
  </tr>
  <tr>
      <td><b>Unsat-Core Track</b></td>
      <td>{{ uct |join: ", " }}</td>
  </tr>
  <tr>
      <td><b>Single Query Track (challenge)</b></td>
      <td>{{ ctsq |join: ", " }}</td>
  </tr>
  <tr>
      <td><b>Incremental Track (challenge)</b></td>
      <td>{{ cti |join: ", " }}</td>
  </tr>
  <tr>
      <td><b>Model Validation Track</b></td>
      <td>{{ mvt |join: ", " }}</td>
  </tr>
  <tr>
      <td><b>Preliminary ID</b></td>
      <td>{{ page.preliminaryID }}</td>
  </tr>
  <tr>
      <td><b>Final ID</b></td>
      <td>{{ page.finalID }}</td>
  </tr>
  <tr>
      <td><b>Seed</b></td>
      <td>{{ page.seed }}</td>
  </tr>
  <tr>
      <td><b>System Description</b></td>
      <td><a href="/2019/system-descriptions/{{ page.sysDescrUrl }}">{{
              page.sysDescrName }}</a></td>
  </tr>
  <tr>
      <td><b>Variant of Submission ID</b></td>
      <td>{{ page.variantOf }}</td>
  </tr>
  <tr>
      <td><b>Derived from Solver</b></td>
      <td>{{ page.derivedTool }}</td>
  </tr>
  <tr>
      <td><b>Wrapped Solvers</b></td>
      <td>{{ page.wrapperTool }}</td>
  </tr>
  <tr>
      <td><b>Website</b></td>
      <td><a href="{{ page.solverHomePage }}">{{
              page.solverHomePage }}</a></td>
  </tr>
  <tr>
      <td><b>Team Members</b></td>
      <td>{{ page.team}}</td>
  <tr>
      <td><b>Contact</b></td>
      <td><a href="mailto:{{ page.contact }}">{{ page.contact }}</a></td>
  </tr>
</table>
<h2>Notes</h2>
{{ content }}
{% include tail.html %}

