{% include head.html %}
<h2>{{ page.name }} </h2>
<table>
  <tr>
      <td>Non-Incremental Track</td>
      <td>{% if page.nonIncrementalTrack %} yes {% else %} no {%
          endif %}</td>
  </tr>
  <tr>
      <td>Incremental Track</td>
      <td>{% if page.incrementalTrack %} yes {% else %} no {%
          endif %}</td>
  </tr>
  <tr>
      <td>Unsat-Core Track</td>
      <td>{% if page.unsatCoreTrack %} yes {% else %} no {%
          endif %}</td>
  </tr>
  <tr>
      <td>Preliminary ID</td>
      <td>{{ page.preliminaryID }}</td>
  </tr>
  <tr>
      <td>Final ID</td>
      <td>{{ page.finalID }}</td>
  </tr>
  <tr>
      <td>Seed</td>
      <td>{{ page.seed }}</td>
  </tr>
  <tr>
      <td>System Description</td>
      <td><a href="{{ page.sysDescUrl }}">{{
              page.sysDescName }}</a></td>
  </tr>
  <tr>
      <td>Solver Homepage</td>
      <td><a href="{{ page.solverHomePage }}">{{
              page.solverHomePage }}</a></td>
  </tr>
  <tr>
      <td>Contact</td>
      <td>{{ page.contactName }} <a href="mailto:{{
      page.contactEmail }}">({{ page.contactEmail }})</a>
      </td>
  </tr>
</table>
<h2>Notes</h2>
{{ content }}
{% include tail.html %}

