---
layout: default
---

{%- assign tracks = site.data.tracks |where: "year", page.year |first -%}
{%- assign tracks = tracks.tracks -%}

<h2>Tools</h2>

{% for tool in page.tools %}
<h3>{{ tool.name }}</h3>

<a href="{{ tool.repo }}"><b>GitHub Repository</b></a><br/>
<a href="{{ tool.sources }}"><b>Sources</b></a><br/>
{%- if tool.release -%}
<a href="{{ tool.release}}"><b>SMT-COMP {{ page.year }} Release</b></a><br/>
{%- endif -%}
<br/>

  {% if tool.tracks %}
<b>SMT-COMP {{ page.year }} {{ tool.name }} Releases</b>
<ul>
    {% for track in tool.tracks %}
      {% assign track_data = tracks |where: "raw_name", track.name |first %}
  <li><a href="{{ track.release.url }}">{{ track_data.pretty_name }}</a></li>
    {% endfor %}
  {% endif %}
</ul>
{% endfor %}
