---
layout: default
---

{%- assign tracks = site.data.tracks |where: "year", page.year |first -%}
{%- assign tracks = tracks.tracks -%}

<h2>Tools</h2>

{% for tool in page.tools %}
<h3>{{ tool.name }}</h3>

{%- if tool.note -%}
<p>
{{ tool.note }}
</p>
{%- endif -%}

<a href="{{ tool.repo }}"><b>GitHub Repository</b></a><br/>
<a href="{{ tool.sources }}"><b>Sources</b></a>
  {%- if tool.release -%}
<br/>
<a href="{{ tool.release }}"><b>Binary</b></a>
  {%- endif -%}

  {% if tool.tracks %}
<h4>SMT-COMP {{ page.year }} Releases</h4>
<ul>
    {% for track in tool.tracks %}
      {% assign track_data = tracks |where: "raw_name", track.name |first %}
  <li>
    <b>{{ track_data.pretty_name }}</b>
    {%- if track.note -%}
    <br/>
    {{ track.note }}
    {%- endif -%}
  <ul>
    <li>
      <a href="{{ track.release }}">Binary</a>
    </li>
      {%- if track.starexec -%}
    <li>
        available on <a href="http://www.starexec.org">StarExec</a> as
        <em>{{ track.starexec }}</em>
        {%- if track.starexecid -%}&nbsp;(id: {{ track.starexecid }}){%- endif -%}
    </li>
      {%- endif -%}
  </ul>
  </li>
    {% endfor %}
  {% endif %}
</ul>
  {%- if tool.wrapped -%}
<p>
<br/>
All solvers wrapped with the {{ tool.name }} are available <a href="{{ tool.wrapped }}">here</a>.
</p>
  {% endif %}
{% endfor %}
